
.card {
    width: auto;
    height: auto;
    background: #EEEEEE;
    border-radius: 8px;
    justify-items: center;
    border: darkgrey 1px solid;
}

img {
    width: 90%;
    height: auto;
    margin: 8px auto;
}

.card-title {
    width: available;
    text-wrap: inherit;
    justify-content: center;
    height: 120px;
    margin: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}
