
img {
    margin-top: 20px;
    margin-bottom: 10px;
}

.name {
   font-size: 3em;
}

.bio {
    width: 40%;
    color: #919191;
    align-content: center;
    word-wrap: break-spaces;
    margin: 0 auto;
}


.user-info {
    width: fit-content;
    border: 1px solid;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
}
.user-info div {
    margin: 4px 0px;
}
.repos-count {
   font-size: 2em;
    margin-top: 10px;
}

@media (max-width: 600px) {
    img {
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .bio {
        width: 80%;
        color: #919191;
        word-wrap: break-spaces;
    }
}
